# node modules and logs
/node_modules
/*node_modules
/_node_modules
npm-debug.log

.angular
.vscode
/.idea/
/.scannerwork/
/production/
/.gitignore
/.gitlab-ci.yml
/.npmignore
/.stackblitzrc
/.travis.yml
/sonar-project.properties

/frontend/node_modules
/frontend/*node_modules
/frontend/_node_modules
/frontend/.angular
/frontend/.vscode
/frontend/public