# node modules and logs
node_modules
*/node_modules
frontend/node_modules
npm-debug.log

/.idea/
/.scannerwork/
/production/
/.gitignore
/.gitlab-ci.yml
/.npmignore
/.stackblitzrc
/.travis.yml
/sonar-project.properties
