.add-contact-container {
  display: flex;
  margin-bottom: 10px;
}

.add-contact-input {
  margin-right: 5px;
}

.table__wrap {
  overflow-x: auto;
}

.table {
  min-width: 700px;
}
.margin_left{
  margin-left: 20px;
}
