version: '3.6'
services:
  {{ ROOT_PROJECT_NAME }}-{{ PROJECT_NAME }}-{{ ENVIRONMENT }}:
    container_name: {{ ROOT_PROJECT_NAME }}-{{ PROJECT_NAME }}-{{ ENVIRONMENT }}-{{ CONTAINER_ID }}
    image: {{ CI_REGISTRY_IMAGE }}:{{ DOCKER_IMAGE_TAG }}
    restart: on-failure:10
    command: ["dumb-init", "node", "index.js"]
    environment:
      - UID={{ UID }}
      - GID={{ GID }}
      - USERNAME={{ ROOT_PROJECT_NAME }}-{{ ENVIRONMENT }}
      - GROUP={{ ROOT_PROJECT_NAME }}-{{ ENVIRONMENT }}
      - DEBUG={{ DEBUG }}
    networks:
      - {{ ROOT_PROJECT_NAME }}-{{ ENVIRONMENT }}
    ports:
      - {{ DOCKER_FRONTEND_PORT }}:3000
networks:
  {{ ROOT_PROJECT_NAME }}-{{ ENVIRONMENT }}:
    external: true