.single_wrap {
  .bottom_button_wrap {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;

    ._button {
      margin-left: 10px
    }
  }

  .plans_list_wrap {
    width: 100%;
    margin: 20px 0 0 20px;
  }

  .add_plan_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }
}

.edit-plan{
  background-color: #1890ff;
  color: white !important;
}

.advanced-menu-option {
 font-size: larger;
}
